{% extends 'base.html' %}{% load static %}{% load costume_filters %}
{% block Head %}
    <script src="{% static 'jquery-3.3.1.js' %}"></script>
    <script src="{% static 'jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'datatables.min.js' %}"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="{% static 'DataTables/Buttons-1.6.1/js/dataTables.buttons.js' %}"></script>
    <link rel="stylesheet" href="{% static 'DataTables/Buttons-1.6.1/css/buttons.bootstrap4.css' %}">
{% endblock %}
{% block content %}

    <div class="container mb-4 mt-3">
    <h3>
        {% if group %}
        {{ group }}
        {% endif %}
    </h3>
        <form method="post">
            <select name="goodgroup" id="">
                {% for item in manufacturer %}
{#                    {% if item|lookup:1 in inData %}#}
                <option value="{{ item|lookup:0 }}">{{ item|lookup:1 }}</option>{% endfor %}
{#                    {% endif %}#}

                    <select name="month" id="">

                    {% for item in rangeMonth %}
{#                    {% if item|lookup:1 in inData %}#}
                <option value="{{ item|lookup:0 }}">{{ item|lookup:1 }}</option>{% endfor %}
{#                    {% endif %}#}

                    </select>


            </select>
            <input type="submit" title="SEND">

{% csrf_token %}
        </form>

            <table id="datatable" class="table dataTable0" style="text-align: center">

                <thead>
                <tr>
                    {% for col in data.columns %}
                    <th scope="col" style="cursor: pointer">{{ col }}</th>
                    {% endfor %}

                </tr>
                <tbody>
                {% for items in data_list %}
                    <tr>
                    {% for num in items %}
                        <td>{{ num|to_int }}  </td>
                        {% endfor %}

                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
{% endblock %}
{% block js %}
    <script>
    $(document).ready( function () {
    $('#datatable').DataTable(
        {
    extend: 'collection',
                text: 'Export',
                buttons: [
                    'copy',
                    'excel',
                    'csv',
                    'pdf',
                    'print']
});
} );
</script>
{% endblock %}