{% extends 'base.html' %}

{% block content %}

    <div class="container" >
    <div class="row mx-md-n5 mCS-dir-rtl" style="direction: rtl">
    <form action="" method="post" class="form-group form-check-inline">
        <select name="center" value="" class="selected col px-md-5" >
            {% for center in centers%}
            <option  id="" value="{{ center.id }}">{{ center.name }}</option>{% endfor %}
        </select>
        <select name="month" id="" class="selected col px-md-5">
            {% for month in month %}
            <option name="" value="{{ month.0 }}">{{ month.1 }}</option>
            {% endfor %}
            <input type="submit" value="بررسی فروشندگان >>"
                    {% if centers %}
                   class="btn-success col px-md-5"
                    {% else %}
                   class="disabled col px-md-5"
                    {% endif %}
                    {% if not centers %} disabled {% endif %} >
            <input type="hidden" name="centermonth" class="input-group-sm p-3">
        {% csrf_token %}
        </select>

    </form>
    </div>
</div>

{% endblock %}