<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

    {% block Head %}

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">




    <link rel="stylesheet" href="{% static 'DataTables/Buttons-1.6.1/css/buttons.bootstrap4.css' %}">
{% endblock %}
{% block content %}

    <div class="container mb-4 mt-3">
    <button onclick="saveFile()">Save XLSX file</button>
            <h2 class="header_content" style="direction: rtl">{{ month.1 }}</h2>
            <table id="datatable" class="table dataTable0" style="text-align: center;direction: rtl">

                <thead>
                <tr>
                <th scope="col" style="cursor: pointer">ردیف </th>

                    <th scope="col" style="cursor: pointer">کد </th>
                    <th scope="col" style="cursor: pointer">نام ویزیتور</th>
                    <th scope="col" style="cursor: pointer">سرپرست</th>
                    {% for pgroup in pgroups %}
                    <th scope="col" style="cursor: pointer">{{ pgroup.name }}</th>
                    {% endfor %}

                </tr>
                <tbody>
                <form action="" method="post">
                    <input type="hidden" name="set_targets">
                    <input type="hidden" name="month" value="{{ month.0 }}">
                {% if visitors %}
                {% for visitor  in visitors %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
<td>{{ visitor.code }}</td>
                <td>{{ visitor.name }}</td>
                    <td>


                               {{ visitor.superviser.name }}
                    </td>
                    {% for pgroup in pgroups %}
                        <input type="hidden" name="visitors" value="{{ visitor.id }}">
                <td><input class="input-group-sm small" type="number" name="{{ pgroup.id }}" min="0">
                </td>
                {% endfor %}

                        {% endfor %}

                    {% else %}
                    <p style="direction: rtl;alignment: right">ویزیتوری تعریف نشده است</p>
                {% endif %}
                {% csrf_token %}
                    <input type="submit" value="ارسال اهداف" class="btn-success btn">
                </form>
                </tbody>
            </table>
        </div>

{% endblock %}