<!DOCTYPE html>
{% extends 'base.html' %}
{% load costume_filters  %}
{% load static %}

    {% block Head %}






    <link rel="stylesheet" href="{% static 'DataTables/Buttons-1.6.1/css/buttons.bootstrap4.css' %}">
{% endblock %}
{% block content %}

    <div class="container mb-4 mt-3" style="direction: rtl">

            <div class="container">
    <div class="row -align-center" style="direction: rtl">
    <div class="col-sm">
      <h2 class="header_content" >{{ month.1 }}</h2>
    </div>
    <div class="col-sm">
      <h2 class="header_content">{{ center.name }}</h2>
    </div>
    <div class="col-sm">
    <h2></h2>
    </div>
  </div>
    </div>
            <table id="datatable" class="table dataTable0" style="text-align: center;direction: rtl">

                <thead>
                <tr>
                <th scope="col" style="cursor: pointer">ردیف </th>

                    <th scope="col" style="cursor: pointer">کد </th>
                    <th scope="col" style="cursor: pointer">نام ویزیتور</th>
                    <th scope="col" style="cursor: pointer">سرپرست</th>
                    {% for pgroup in pgroups %}
                    <th scope="col" style="cursor: pointer">{{ pgroup.name }}</th>
                    {% endfor %}

                </tr>
                <tbody>
                <form action="" method="post">
                    <input type="hidden" name="set_targets">
                    <input type="hidden" name="month" value="{{ month.0 }}">
                    <input type="hidden" name="center" value="{{ center.id }}">
                {% if visitors %}
                {% for visitor  in visitors %}
                    <tr>
                    <td>{{ forloop.counter }}</td>
<td>{{ visitor.code }}</td>
                <td>{{ visitor.name }}</td>
                    <td>


                               {{ visitor.superviser.name }}
                    </td>
                    {% for pgroup in pgroups %}
                        <input type="hidden" name="visitors" value="{{ visitor.id }}">
                <td>

                    <input class="input-group-sm small"
                           type="number"
                           name="{{ pgroup.id }}"
                           min="0" {% if pgroup.id in pgroup_dict %}
                                {% if visitor.id in pgroup_dict|lookup:pgroup.id %}
                               {% if pgroup_dict|lookup:pgroup.id|lookup:visitor.id %}
                           value="{{ pgroup_dict|lookup:pgroup.id|lookup:visitor.id }}"
                            {% endif %}{% endif %}{% endif %}>
                </td>
                {% endfor %}

                        {% endfor %}

                    {% else %}
                    <p style="direction: rtl;alignment: right">ویزیتوری تعریف نشده است</p>
                {% endif %}
                {% csrf_token %}
                    <input type="submit" value="ارسال اهداف" class="btn-success btn">
                </form>
                </tbody>
            </table>
        </div>

{% endblock %}