<html>

<header>
    <script>
       // api url
const api_url =
	"./json.json";

// Defining async function
async function getapi(url) {

	// Storing response
	const response = await fetch(url);

	// Storing data in form of JSON
	var data = await response.json();
	console.log(data);
	if (response) {
		hideloader();
	}
	show(data);
}
// Calling that async function
getapi(api_url);

// Function to hide the loader
function hideloader() {
	document.getElementById('loading').style.display = 'none';
}


    </script>
</header>
<body>
<div id = "loading" class="loading">

</div>
</body>

</html>